<div class="footer-wrapper">
    <div class="skyline_art_pittsburgh_div">
        <div class="skyline_art_pittsburgh_main_img"></div>
        <div class="skyline_art_pittsburgh_ext_div">
            <div class="skyline_art_pittsburgh_ext"></div>
        </div>
    </div>
    <div class="footer-content">
        <div class="padding"></div>
        <ul>
            <li>
                <!-- <a (click)="openDialog($event)">Terms of use</a> -->
                <a href="https://www.verti.com/conditions/" target="_blank">Terms of use</a>
            </li>
            <li class="seperator">|</li>
            <li>
                <!-- <a (click)="openDialog($event)">Privacy &#38; Security</a> -->
                <a href="https://www.verti.com/privacy-policy/" target="_blank">Privacy &#38; Security</a>
            </li>
            <!-- <li class="pipe"> </li>
            <li>
                <a href="https://www.verti.com/blog/" target="_blank">Blog</a>
                <a>Give Feedback</a>
            </li> -->
            <!-- <li class="copyright"> &#169; 2018 Verti Insurance Company </li> -->
        </ul>
        <p class="copyright"> &#169; 2019 Verti Insurance Company </p>
    </div>
</div>