<div class="main-content ko-decline minor-violation">
  <div class="inner-content">
    <div class="no-back-img-title">
      <verti-page-image-title [imgsource]="imgSource" [title]="title"></verti-page-image-title>
    </div>
    <div fxLayout="column">
      <mat-card-subtitle class="ko-decline-subtitle">{{subtitle}} </mat-card-subtitle>
      <div class="card-para">
        <div>
          {{para1}}
        </div>
        <p>
          <a href="tel:1-215-608-1547">Contact us</a>{{para2}}
        </p>
      </div>
    </div>
  </div>
</div>